<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/84f605d4-52d1-46fa-934a-9f2468cfb835/resourceGroups/nme/providers/Microsoft.Web/sites/GSI-sc-2020-044</ResourceId>
    <ResourceGroup>nme</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://gsi-sc-2020-044.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>0352c014-c5de-4433-9b4d-d07642e77085</ProjectGuid>
    <PublishUrl>https://gsi-sc-2020-044.scm.azurewebsites.net/</PublishUrl>
    <UserName>$GSI-sc-2020-044</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>